/* GLOBAL PAGE */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400&family=Roboto:ital,wght@0,100;1,100&display=swap');

h1, h2 {
	font-family: 'Roboto', sans-serif;	
	font-weight: bolder;
}

h1 {
	color: rgb(52, 103, 103);
}

h2{
	color: rgb(52, 103, 103);
	border-radius: 10px;
	padding: 15px;
}

body{
	font-family: 'Lora', serif;
	background-color: rgb(52, 103, 103);
}

* {
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

.cta{
	background-color: rgb(192, 196, 175);
	color: rgb(249, 247, 245);
	padding: 8px 16px;
	border-radius: 5px;
	font-weight: bolder;
	display: block;
	width: 220px;
	margin: 0 auto;
}

.cta:hover {
	background-color: rgb(52, 103, 103);
	color: white;
	transition: 1s;
}

.intro-conclu{
	background-color: rgb(249, 247, 245);
	text-align: center;
	padding: 24px;
	height: 30%;
	width: 100%;
	max-width: 600px;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 6px;
	box-shadow: 1px 0px 1px 0px black;
}

.corps-site{
	background-color: rgb(249, 247, 245);
	text-align: center;
	padding: 24px;
	height: 30%;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	margin-bottom: 20px;
	border-radius: 6px;
	box-shadow: 1px 0px 1px 0px black;
}

.rounded{
	background-color: rgb(249, 247, 245);
	text-align: center;
	padding: 24px;
	height: 70%;
	margin: 16px auto;
	border-radius: 6px;
	box-shadow: 1px 0px 1px 0px black;
}

.title-sitebody{
	color: white;
	background-color: rgb(52, 103, 103);
}


/* BANNIERE PROFIL */
.photo-profil{
	width: 125px
	height: 125px;
	object-fit: cover;
	border-radius: 50%;
	border-color: rgb(52, 103, 103);
	border-size:50px;
}


/* SAVOIR-FAIRE */
.savoir-items {
	display: flex;
	margin-left: -20px;
	margin-right: -20px;
}

.savoir-items > div {
	width: 33.33%;
	padding: 0 20px;
}

.savoir-items h3 {
	min-height: 50px;
}

.savoir-items img {
	height: 400px;
	border-radius: 10%;
	object-fit: cover;
	width: 100%;
}


/* BOITE A OUTILS */
.boite-outil{
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.boite-outil li{
	display: inline;
	margin:0 16px;
}	

.img-outils{
	height: 70px;
}

#img-bing{
	height: 30px;
}

#img-searchads{
	height: 30px;
}

#img-analytics{
	height: 40px;
}


/* DIPLOMES */
.certification-items{
	display: flex;
}

.certification-items > div {
	width: 50%;
	padding: 0 20px;
}

.certification-items h3 {
	min-height: 50px;
}

.img-diplome {
	width: 80px;
	height: auto;
}

#img-certification{
	width: 80px;
}

.organisation{
	color: rgb(192, 196, 175);
}

.organisation-puces{
	padding: 0;
	list-style: none;
}


/* ENTREPRISES REFERENCES */
.confiance{
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.confiance li{
	display: inline;
	margin:0 16px;
}

#confiance-psa{
	height: 50px;
}

#confiance-clubmed{
	height: 30px;
}

#confiance-leclerc{
	height: 50px;
}

#confiance-opinionway{
	height: 30px;
}


/* FOOTER CONTACT */
.list-inline{
	padding: 0;
	list-style: none;
}

.list-inline li{
	display: inline;
	margin:0 16px;
}	

.fa-brands{
	font-size: 40px;
	color: rgb(0, 0, 0, 0.4);
}

.fa-brands:hover {
	color: rgb(52, 103, 103);
}